.auth {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 53px;
  }

  &__title {
    color: var(#{--text-color-default});
  }

  &__link {
    color: var(#{--text-color-default});
    position: relative;
    padding-right: 20px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      right: 0;
      margin: auto;
      width: 10px;
      height: 3px;
      background-color: var(#{--text-color-default});
    }

    &::before {
      rotate: -45deg;
      top: 60%;
    }

    &::after {
      rotate: 45deg;
      bottom: 50%;
    }
  }

  &__bottom {
    margin-top: 55px;
    text-align: center;
    width: 100%;
    color: var(#{--text-color-default});

    &__text {
      display: block;
      margin-bottom: 15px;
    }
  }
}
