@import './variabless.scss';
@import './calendarVariables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'Lato';
  max-width: 500px;
  margin: 0 auto;
  background: var(#{--body-background-default});
}

button {
  cursor: pointer;
}
