@import './variabless.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'Lato';
}

button {
  cursor: pointer;
}

.app {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  background: var(#{--body-background-default});
}
