@import '../../../styles/variabless.scss';

.input {
  width: 100%;
  min-height: 42px;
  background-color: var(#{--body-background-default});
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  padding: 0 10px;

  &:invalid {
    border-color: red;
  }
}
