.footer {
  position: fixed;
  bottom: 0;
  background: #000;
  padding-top: 6px;
  padding-bottom: 3px;
  width: inherit;
  max-width: inherit;

  &__list {
    max-width: 70%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list {
  &__link {
    * {
      max-width: 24px;
      max-height: 24px;
      color: transparent;
      stroke: #1e1e1e;

      &:hover {
        box-shadow: var(#{--element-shadow-default});
      }
    }
  }
}
