.label {
  display: block;
  margin-bottom: 22px;

  &__text {
    display: inline-block;
    margin-bottom: 8px;
  }

  &__password {
    &__error {
      color: red;
      font-size: 12px;
    }
  }
}
